<li *ngIf="pokemon" class="mb-4 shadow bg-slate-50 rounded-xl relative">
  <ng-container *ngIf="currentUrl === '/pokemon'">
    <app-collect-button
      [trainerPage]="false"
      [pokemonUrl]="pokemon.url"
      [pokemonName]="pokemon.name"
    ></app-collect-button>
  </ng-container>

  <ng-container *ngIf="currentUrl === '/trainer'">
    <app-collect-button
      [trainerPage]="true"
      [pokemonUrl]="pokemon.url"
      [pokemonName]="pokemon.name"
      [index]="index"
    ></app-collect-button>
  </ng-container>

  <section>
    <img
      src="{{ spriteUrl(pokemon.url) }}"
      alt="{{ pokemon.name }}"
      class="block w-32 p-4"
    />
  </section>
  <section class="p-4">
    <span class="text-xl">{{ pokemon.name }}</span>
  </section>
</li>
