<aside class="absolute top-4 right-4">
  <ng-container *ngIf="trainerPage === false">
    <button
        (click)="onCollectClick()"
        class="border border-slate-300 bg-poke-blue rounded-xl shadow-xl
        flex justify-center items-center p-2">
        <ng-container *ngIf="!alreadyCaught">
            <span class="text-white font-bold">Collect</span>
            <img src="../../../assets/open-pokeball.png" alt="open pokeball" class="block w-16 p-4">
        </ng-container>
        <ng-container *ngIf="alreadyCaught">
            <span class="text-blue-300 font-bold">(In collection)</span>
            <img src="../../../assets/closed-pokeball.png" alt="closed pokeball" class="block w-16 p-4">
        </ng-container>

    </button>
  </ng-container>
  <ng-container *ngIf="trainerPage === true">
    <button
      (click)="onRemoveClick()"
      class="border border-slate-300 rounded-xl flex justify-center items-center p-2"
    >
      <span>Remove</span>
    </button>
  </ng-container>
</aside>
