<aside class="absolute top-4 right-4">
  <ng-container *ngIf="trainerPage === false">
    <button
      (click)="onCollectClick()"
      class="border border-slate-300 rounded-xl flex justify-center items-center p-2"
    >
      <span>Collect</span>
      <img
        src="../../../assets/open-pokeball.png"
        alt="open pokeball"
        class="block w-16 p-4"
      />
    </button>
  </ng-container>
  <ng-container *ngIf="trainerPage === true">
    <button
      (click)="onRemoveClick()"
      class="border border-slate-300 rounded-xl flex justify-center items-center p-2"
    >
      <span>Remove</span>
    </button>
  </ng-container>
</aside>
